<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.setcardgame">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SETCardGame">
        <activity
            android:name=".viewmodel.scoreboard.WorldScoresActivity"
            android:parentActivityName=".viewmodel.scoreboard.ScoreboardActivity"
            android:label="@string/worldScoresText"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.scoreboard.PlayerScoresActivity"
            android:parentActivityName=".viewmodel.scoreboard.ScoreboardActivity"
            android:label="@string/myScoreText"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.multiplayer.MultiplayerEndScreenActivity"
            android:exported="false"
            android:label="@string/scoreTextView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.multiplayer.JoinGameActivity"
            android:exported="false"
            android:label="@string/joinGameText"
            android:parentActivityName=".viewmodel.multiplayer.PrivateGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.multiplayer.PrivateGameActivity"
            android:exported="false"
            android:label="@string/privateGameText"
            android:parentActivityName=".viewmodel.multiplayer.SelectMultiplayerTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.multiplayer.WaitingForGameActivity"
            android:exported="false"
            android:label="@string/waitingText"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.multiplayer.CreatePrivateGameActivity"
            android:exported="false"
            android:label="@string/createPrivateGameText"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.multiplayer.SelectMultiplayerTypeActivity"
            android:exported="false"
            android:label="@string/chooseMultiTypeText"
            android:parentActivityName=".viewmodel.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.DifficultyActivity"
            android:exported="false"
            android:label="@string/difficulty"
            android:parentActivityName=".viewmodel.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.HowToPageActivity"
            android:exported="false"
            android:label="@string/howToTitle"
            android:parentActivityName=".viewmodel.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.EndGameScreenActivity"
            android:exported="false"
            android:label="@string/scoreText"
            android:parentActivityName=".viewmodel.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.scoreboard.ScoreboardActivity"
            android:exported="false"
            android:label="@string/scoreboardText"
            android:parentActivityName=".viewmodel.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.multiplayer.MultiplayerActivity"
            android:exported="false"
            android:label="@string/multiplayerText"
            android:parentActivityName=".viewmodel.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.SingleplayerActivity"
            android:exported="false"
            android:label="@string/singleplayerText"
            android:parentActivityName=".viewmodel.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.RegisterActivity"
            android:exported="false"
            android:label="@string/registerText"
            android:parentActivityName=".viewmodel.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.LoginActivity"
            android:exported="false"
            android:label="@string/loginText"
            android:parentActivityName=".viewmodel.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodel.MainActivity"
            android:exported="true"
            android:label="@string/setCardGameText"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>